@page
@model SVU_University.Pages.AppSettingViewModel
@{
    ViewData["Title"] = "AppSettingView";
}

            <div class="section-body">
                <div class="section-title"> View Examination Application Setting Details</div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="card"> 
                        <div class="card-body">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Examination Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 001Eng </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Start Date</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 21-06-2022 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">End Date</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 20-07-2022 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label"> Course Group </label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> B.Com(Accounts) </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Status</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Available </label>
                                </div>
                              </div>
                          </form>

                            <div class="row">
                              <div class="col-md-12">
                                   <a href="AppSetting" class="btn btn-dark "> <i class="fas fa-arrow-left"></i> Back </a>
                              </div>
                            </div>

                        </div>  
                      </div>
                  </div>
                </div>
            </div>