@page
@model SVU_University.Pages.CentreViewModel
@{
    ViewData["Title"] = "CentreView";
}

            <div class="section-body">
                <div class="section-title"> View Centre Details</div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="card"> 
                        <div class="card-body">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label"> Centre Code </label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 0171 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Centre Title</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> MADRAS CHRISTIAN COLLEGE </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Door No.</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 27/08 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Street</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 1st cross Street </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Location</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Tambaram </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Area</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Industrial Estate </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">City</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Chennai </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">District</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Chennai </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">State</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Tamilnadu </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Country</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> India </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Pincode</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 600028 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Mobile No.</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 9876543210 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Email ID</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> madraschristiancollege@gmail.com </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Website</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> www.madraschristiancollege.com </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Logo</label>
                                <div class="col-md-6">
                                  <img class="avatar w60 ml-2" src="~/img/brand/college/Madras_Christian_College_Logo.png" />
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Status</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Available </label>
                                </div>
                              </div>
                          </form>

                            <div class="row">
                              <div class="col-md-12">
                                   <a href="Centre" class="btn btn-dark "> <i class="fas fa-arrow-left"></i> Back </a>
                              </div>
                            </div>

                        </div>  
                      </div>
                  </div>
                </div>
            </div>