@page
@model SVU_University.Pages.CGElectiveGroupModel
@{
    ViewData["Title"] = "ElectiveGroupList";
}

        <div class="section-body">
          <h2 class="section-title"> Elective Group Details </h2>
          <div class="container-fluid">
            <div class="tab-content">
             
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="form-group">
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Course Group </option>
                                <option value="1"> B.Com (Accounts) </option>
                                <option value="2"> M.Com (Finance) </option>
                                <option value="3"> B.A (English) </option>
                              </select>
                            </div>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="form-group">
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Elective Group </option>
                                <option value="1"> Economics </option>
                                <option value="2"> Finance </option>
                              </select>
                            </div>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="form-group">
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Period Index </option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                              </select>
                            </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="form-group">
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Status  </option>
                                <option value="1"> Available </option>
                                <option value="2"> Blocked </option>
                                <option value="3"> Deleted </option>
                                <option value="4"> Removed </option>
                              </select>
                            </div>
                      </div>
                      <div class="col-lg-2 col-md-4 col-sm-6"> <a href="#" class="btn btn-primary btn-lg btn-block" title="">Search</a> </div>
                      <div class="col-lg-1 col-md-4 col-sm-6 mt-1"> <a href="CGElectiveGroupAdd" class="btn btn-outline-primary btn-rounded "> Add New <i class="fa-solid fa-plus"></i> </a> </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive card">
                  <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap" data-list="">
                    <thead>
                      <tr>
                        <th>Course Group</th>
                        <th>Elective Group</th>
                        <th>Selectable Subject</th>
                        <th>Period Index</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> B.Com (Accounts) </td>
                        <td> Economics </td>
                        <td> Economics </td>
                        <td> 1 </td>
                        <td> Available </td>
                        <td>  <a href="CGElectiveGroupView" class="btn btn-icon text-dark btn-sm" title="View"><i class="fa fa-eye"></i></a> 
                              <a href="CGElectiveGroupUpdate" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></a> 
                              <a href="CGElectiveGroupDelete" class="btn btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash text-danger"></i></a> 
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>