@page
@model SVU_University.Pages.CGElectiveGroupUpdateModel
@{
    ViewData["Title"] = "ElectiveGroupUpdate";
}

        <div class="section-body">
          <h2 class="section-title"> Update Elective Group Details </h2>
          <div class="row">
            <div class="tab-content col-xl-12 col-lg-12 col-md-12 col-sm-12 m-auto">
              <div class="card">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="aform" role="tabpanel" aria-labelledby="aform-tab3">
                        
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label> Course Group <span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> B.Com (Accounts) </option>
                                <option value="1"> B.Com (Accounts) </option>
                                <option value="2"> M.Com (Finance) </option>
                                <option value="3"> B.A (English) </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label> Elective Group <span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Economics </option>
                                <option value="1"> Economics </option>
                                <option value="2"> Finance </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label> Selectable Subject <span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Economics </option>
                                <option value="1"> Economics </option>
                                <option value="2"> Finance </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label> Period Index <span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> 1 </option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Status<span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Available  </option>
                                <option value="1"> Available </option>
                                <option value="2"> Blocked </option>
                                <option value="3"> Deleted </option>
                                <option value="4"> Removed </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                             <a href="CGElectiveGroup" class="btn btn-dark"> <i class="fas fa-arrow-left"></i> Back </a>
                          </div> 
                          <div class="col-md-6 text-right">
                              <button class="btn btn-primary btnNext text-end"> Update <i class="fas fa-arrow-right"></i></button>
                          </div>
                        </div>																
                      </div>
                    </div>															
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
