@page
@model SVU_University.Pages.CGMediumViewModel
@{
    ViewData["Title"] = "CourseGroupMediumView";
}

            <div class="section-body">
                <div class="section-title"> View Course Group Medium Details</div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="card"> 
                        <div class="card-body">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Course Group Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> B.Com (Accounts) </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Course Group Medium Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Telugu </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Status</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Available </label>
                                </div>
                              </div>
                          </form>
                          <div class="row">
                              <div class="col-md-12">
                                   <a href="CGMedium" class="btn btn-dark "> <i class="fas fa-arrow-left"></i> Back </a>
                              </div>
                            </div>
                        </div>  
                      </div>
                  </div>
                </div>
            </div>