@page
@model SVU_University.Pages.CourseDeleteModel
@{
    ViewData["Title"] = "CourseDelete";
}

            <div class="section-body">
                <div class="section-title"> Delete Course Details</div>
                
                <div class="row">
                  <div class="col-md-12">
                      <div class="card"> 
                        <div class="card-body">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Course Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> B.Com </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Course Title</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Bachelor of Commerce </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Degree</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> UG </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Status</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Deleted </label>
                                </div>
                              </div>
                          </form>

                            <div class="row">
                                <div class="col-md-12 d-flex">
                                  <div class="col-md-6">
                                       <a href="Course" class="btn btn-dark "> <i class="fas fa-arrow-left"></i> Back </a>
                                  </div>
                                  <div class="col-md-6 text-right">
                                       <a href="#" class="btn btn-danger "> <i class="fas fa-xmark"></i> Delete </a>
                                  </div>
                                </div>
                            </div>

                        </div>  
                      </div>
                  </div>
                </div>
            </div>