@page
@model SVU_University.Pages.ExamCourseGroupAddModel
@{
    ViewData["Title"] = "ExamCourseGroupAdd";
}

        <div class="section-body">
          <h2 class="section-title"> Add Exam Course Group Details </h2>
          <div class="row">
            <div class="tab-content col-xl-12 col-lg-12 col-md-12 col-sm-12 m-auto">
              <div class="card">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="aform" role="tabpanel" aria-labelledby="aform-tab3">
                        
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label> Examination Code <span class="required ml-1">*</span></label>
                              <input type="text" class="form-control "> 
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Exam Course Group<span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Course Group </option>
                                <option value="1"> B.Com (Accounts) </option>
                                <option value="2"> M.Com (Finance) </option>
                                <option value="3"> B.A (English) </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Batch<span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Batch </option>
                                <option value="1"> 2001 </option>
                                <option value="2"> 2002 </option>
                                <option value="3"> 2003 </option>
                                <option value="4"> 2004 </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Status<span class="required ml-1">*</span> </label>
                              <select class="form-control select2" data-placeholder="Status">
                                <option value="0" selected> Select Status </option>
                                <option value="1"> Available </option>
                                <option value="2"> Blocked </option>
                                <option value="3"> Deleted </option>
                                <option value="4"> Removed </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                             <a href="ExamCourseGroup" class="btn btn-dark"> <i class="fas fa-arrow-left"></i> Back </a>
                          </div> 
                          <div class="col-md-6 text-right">
                              <button class="btn btn-primary btnNext text-end"> Continue <i class="fas fa-arrow-right"></i></button>
                          </div>
                        </div>																
                      </div>
                    </div>															
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>