@page
@model SVU_University.Pages.ExamAppViewModel
@{
    ViewData["Title"] = "ExamAppView";
}

            <div class="section-body">
                <div class="section-title"> View Examination Application Details</div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="card"> 
                        <div class="card-body">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">ID</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 05 </label>
                                </div>
                              </div>  
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> App001 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Admission No.</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Ad20011001 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Examination Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 001Eng </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label"> Course Group </label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> B.Com(Accounts) </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label"> Academic Period Index </label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> 3 </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Status</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Available </label>
                                </div>
                              </div>
                          </form>

                            <div class="row">
                              <div class="col-md-12">
                                   <a href="ExamApp" class="btn btn-dark "> <i class="fas fa-arrow-left"></i> Back </a>
                              </div>
                            </div>

                        </div>  
                      </div>
                  </div>
                </div>
            </div>