@page
@model SVU_University.Pages.MediumViewModel
@{
    ViewData["Title"] = "MediumView";
}

            <div class="section-body">
                <div class="section-title"> View Medium Details</div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="card"> 
                        <div class="card-body">
                            <form>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Medium Code</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Tel </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Medium Title</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Telugu </label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-6 label-title col-form-label">Status</label>
                                <div class="col-md-6">
                                  <label type="text" readonly class="form-control-valuetext form-control-lg"> Deleted </label>
                                </div>
                              </div>
                          </form>

                            <div class="row">
                              <div class="col-md-12">
                                   <a href="Medium" class="btn btn-dark "> <i class="fas fa-arrow-left"></i> Back </a>
                              </div>
                            </div>

                        </div>  
                      </div>
                  </div>
                </div>
            </div>