@page
@model SVUCollege.Pages.forgotpasswordModel
@{
    ViewData["Title"] = "Login";
    Layout = "_CommonLayout";
}

        <div class="row">

                    <div class="col-4 col-sm-8 col-md-4  col-lg-6  col-xl-4 m-auto ">

                        <div class="card card-primary">
                          <div class="login-brand">
                            <img src="~/img/brand/logo-t.png" alt="logo" width="250">
                            </div>

                          <div class="card-body">
                            <form method="POST" action="#" class="needs-validation" novalidate="">

                              <div class="form-group">
                                <div class="d-block">
                    	            <label for="Email" class="control-label">Email Id</label>
                                    <input id="Email" type="Email" class="form-control" name="Email" tabindex="2" required="" autofocus="">
                                </div>
                              </div>
                              <div class="form-group">
                                <a href="login" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                  Continue <i class="fa-solid fa-arrow-right"></i>
                                </a>
                              </div>
                              <div class="simple-footer">
                                  Copyright © Avia Technologies
                              </div>
                            </form>
                

                          </div>
                        </div>
                      </div>

                        <div class="col-8 col-sm-8 col-md-8  col-lg-6  col-xl-8 m-auto ">

                           
                            <div class="list-group w-auto">
                              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-3 " aria-current="true">
                                <img src="https://github.com/twbs.png" alt="twbs" class="rounded-circle flex-shrink-0 mr-3" width="32" height="32">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                  <div>
                                    <h6 class="mb-0">List group item heading</h6>
                                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                                  </div>
                                  
                                </div>
                              </a>
                              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-3" aria-current="true">
                                <img src="https://github.com/twbs.png" alt="twbs" class="rounded-circle flex-shrink-0 mr-3" width="32" height="32">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                  <div>
                                    <h6 class="mb-0">Important Details</h6>
                                    <table class="table table-striped table-md table-bordered mt-3 font-size">
                                        <tbody>
                                            <tr>
                                            <td width="60%">Registration Starts from</td>
                                            <td width="40%">28.Feb.2022</td>
                                        </tr>
                                        <tr>
                                            <td width="45%">Registration Ends on</td>
                                            <td width="55%">10.Mar.2022 (23.30 hrs)</td>
                                        </tr>
                                        <tr>
                                            <td width="45%">Last date for Payment</td>
                                            <td width="55%">10.Mar.2022 (23.59 hrs)</td>
                                        </tr>
                                        <tr>
                                            <td width="50%">Last date for Submission of Hard-copy of Application</td>
                                            <td width="50%">15.Mar.2022</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>
                                  </div>
                                  
                                </div>
                              </a>
                              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-3" aria-current="true">
                                <img src="https://github.com/twbs.png" alt="twbs" class="rounded-circle flex-shrink-0 mr-3" width="32" height="32">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                  <div>
                                    <h6 class="mb-0">Third heading</h6>
                                    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                                  </div>
                                  
                                </div>
                              </a>
                            </div>
                        </div>

        </div>