@page
@model SVUCollege.Pages.paymentstatusModel
@{
    ViewData["Title"] = "PaymentStatus";
}

    <div class="main-content">
        <section class="section">
          <div class="section-body">
              <div class="section-title"> Payment Status </div>
            <div class="invoice">
              <div class="invoice-print">
                
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading"> <i class="fa-solid fa-thumbs-up"></i> Success </h4>
                  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                </div>

                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading"> <i class="fa-solid fa-warning"></i> Failed </h4>
                  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                </div>

              </div>
             
              <div class="text-md-center">
                <a href="Index" class="btn btn-primary btn-icon icon-left"> Continue <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </section>
    </div>