<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SVU_University</title>
   
    <link rel="stylesheet" href="~/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/modules/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/modules/jquery-selectric/selectric.css">
    <link rel="stylesheet" href="~/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="~/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/components.css">

</head>
<body>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <nav class="container-fluid navbar-bg navbar navbar-expand-lg main-navbar">
              <div class="sidebar-brand"> <a href="index.html"> <img src="../img/brand/logo-t.png"> </a> </div>
              <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                  <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                  <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                </ul>
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                  <div class="search-backdrop"></div>
                  <div class="search-result">
                    <div class="search-header"> Histories </div>
                    <div class="search-item"> <a href="#">How to hack NASA using CSS</a> <a href="#" class="search-close"><i class="fas fa-times"></i></a> </div>
                    <div class="search-item"> <a href="#">Kodinger.com</a> <a href="#" class="search-close"><i class="fas fa-times"></i></a> </div>
                    <div class="search-item"> <a href="#">#Stisla</a> <a href="#" class="search-close"><i class="fas fa-times"></i></a> </div>
                    <div class="search-header"> Result </div>
                    <div class="search-item"> <a href="#"> <img class="mr-3 rounded" width="30" src="img/products/product-3-50.png" alt="product"> oPhone S9 Limited Edition </a> </div>
                    <div class="search-item"> <a href="#"> <img class="mr-3 rounded" width="30" src="img/products/product-2-50.png" alt="product"> Drone X2 New Gen-7 </a> </div>
                    <div class="search-item"> <a href="#"> <img class="mr-3 rounded" width="30" src="img/products/product-1-50.png" alt="product"> Headphone Blitz </a> </div>
                    <div class="search-header"> Projects </div>
                    <div class="search-item"> <a href="#">
                      <div class="search-icon bg-danger text-white mr-3"> <i class="fas fa-code"></i> </div>
                      Stisla Admin Template </a> </div>
                    <div class="search-item"> <a href="#">
                      <div class="search-icon bg-primary text-white mr-3"> <i class="fas fa-laptop"></i> </div>
                      Create a new Homepage Design </a> </div>
                  </div>
                </div>
              </form>
              <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
                  <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">Messages
                      <div class="float-right"> <a href="#">Mark All As Read</a> </div>
                    </div>
                    <div class="dropdown-list-content dropdown-list-message"> <a href="#" class="dropdown-item dropdown-item-unread">
                      <div class="dropdown-item-avatar"> <img alt="image" src="../img/avatar/avatar-1.png" class="rounded-circle">
                        <div class="is-online"></div>
                      </div>
                      <div class="dropdown-item-desc"> <b>Kusnaedi</b>
                        <p>Hello, Bro!</p>
                        <div class="time">10 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item dropdown-item-unread">
                      <div class="dropdown-item-avatar"> <img alt="image" src="../img/avatar/avatar-2.png" class="rounded-circle"> </div>
                      <div class="dropdown-item-desc"> <b>Dedik Sugiharto</b>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="time">12 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item dropdown-item-unread">
                      <div class="dropdown-item-avatar"> <img alt="image" src="../img/avatar/avatar-3.png" class="rounded-circle">
                        <div class="is-online"></div>
                      </div>
                      <div class="dropdown-item-desc"> <b>Agung Ardiansyah</b>
                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="time">12 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item">
                      <div class="dropdown-item-avatar"> <img alt="image" src="../img/avatar/avatar-4.png" class="rounded-circle"> </div>
                      <div class="dropdown-item-desc"> <b>Ardian Rahardiansyah</b>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                        <div class="time">16 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item">
                      <div class="dropdown-item-avatar"> <img alt="image" src="../img/avatar/avatar-5.png" class="rounded-circle"> </div>
                      <div class="dropdown-item-desc"> <b>Alfa Zulkarnain</b>
                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                        <div class="time">Yesterday</div>
                      </div>
                      </a> </div>
                    <div class="dropdown-footer text-center"> <a href="#">View All <i class="fas fa-chevron-right"></i></a> </div>
                  </div>
                </li>
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                  <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">Notifications
                      <div class="float-right"> <a href="#">Mark All As Read</a> </div>
                    </div>
                    <div class="dropdown-list-content dropdown-list-icons"> <a href="#" class="dropdown-item dropdown-item-unread">
                      <div class="dropdown-item-icon bg-primary text-white"> <i class="fas fa-code"></i> </div>
                      <div class="dropdown-item-desc"> Template update is available now!
                        <div class="time text-primary">2 Min Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item">
                      <div class="dropdown-item-icon bg-info text-white"> <i class="far fa-user"></i> </div>
                      <div class="dropdown-item-desc"> <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                        <div class="time">10 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item">
                      <div class="dropdown-item-icon bg-success text-white"> <i class="fas fa-check"></i> </div>
                      <div class="dropdown-item-desc"> <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                        <div class="time">12 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item">
                      <div class="dropdown-item-icon bg-danger text-white"> <i class="fas fa-exclamation-triangle"></i> </div>
                      <div class="dropdown-item-desc"> Low disk space. Let's clean it!
                        <div class="time">17 Hours Ago</div>
                      </div>
                      </a> <a href="#" class="dropdown-item">
                      <div class="dropdown-item-icon bg-info text-white"> <i class="fas fa-bell"></i> </div>
                      <div class="dropdown-item-desc"> Welcome to Stisla template!
                        <div class="time">Yesterday</div>
                      </div>
                      </a> </div>
                    <div class="dropdown-footer text-center"> <a href="#">View All <i class="fas fa-chevron-right"></i></a> </div>
                  </div>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="../img/avatar/avatar-1.png" class="rounded-circle mr-1">
                  <div class="d-sm-none d-lg-inline-block">MCC</div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-title">MADRAS CHRISTIAN COLLEGE</div>
                    <a href="features-profile.html" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profile </a> <a href="features-activities.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i> Activities </a> <a href="features-settings.html" class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Settings </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Logout </a> </div>
                </li>
              </ul>
            </nav>

            <div class="main-sidebar sidebar-style-2 top-navbar">
              <aside id="sidebar-wrapper">
                <ul class="sidebar-menu">
                  <li class="menu-header">Dashboard</li>
                  <li class="active"> <a href="Index" class="nav-link"><i class="fas fa-fire"></i><span> Dashboard </span></a></li>

                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"><i class="fa-solid fa-building-columns"></i> <span> University </span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="Batch" class="nav-link"> Batch </a> </li>
                      <li> <a href="Department" class="nav-link"> Department </a> </li>
                      <li> <a href="Degree" class="nav-link"> Degree </a> </li>
                    </ul> 
                  </li>

                  <li class="menu-header">Course</li>
                  <li> <a href="Course" class="nav-link"> <i class="fa-solid fa-book-atlas"></i> <span> Course </span></a> </li>

                  <li class="menu-header">Course Groups</li>
                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"> <i class="fa-solid fa-book"></i> <span> Course Groups </span></a> 
                    <ul class="dropdown-menu">
                      <li> <a href="CourseGroup" class="nav-link"> Course Group </a> </li>
                      <li> <a href="CGMedium" class="nav-link"> Medium </a> </li>
                      <li> <a href="CGTermadmissionFee" class="nav-link"> Term Admission Fees </a> </li>
                      <li> <a href="QualifyExam" class="nav-link"> Qualify Exams </a> </li>
                      <li> <a href="CGElectiveGroup" class="nav-link"> Elective Group </a> </li>
                      <li> <a href="ElectiveGroupSubject" class="nav-link"> Elective Group Subject</a> </li>
                    </ul> 
                  </li>

                  <li class="menu-header">Course SubGroups</li>
                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"><i class="fa-solid fa-address-book"></i> <span> Course SubGroups </span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="CourseSubGroup" class="nav-link"> Course SubGroup </a> </li>
                      <li> <a href="SubGroupSubject" class="nav-link"> Subjects </a> </li>
                    </ul> 
                  </li>
                  
                  <li class="menu-header">Centres</li>
                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"><i class="fa-solid fa-building"></i> <span> Centres </span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="Centre" class="nav-link"> Centre </a> </li>
                      <li> <a href="CentreAdmin" class="nav-link"> Centre Admin </a> </li>
                    </ul> 
                  </li>
                   
                  <li class="menu-header">Subjects</li>
                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"><i class="fa-solid fa-book-open"></i> <span> Subjects </span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="Subject" class="nav-link"> Subject </a> </li>
                      <li> <a href="SubjectType" class="nav-link"> Subject Type </a> </li>
                    </ul> 
                  </li>
                  
                  <li class="menu-header">Mediums</li>
                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"><i class="fa-solid fa-maximize"></i> <span> Mediums </span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="Medium" class="nav-link"> Medium </a> </li>
                      <li> <a href="MediumHallticket" class="nav-link"> Medium Hallticket </a> </li>
                    </ul> 
                  </li>

                  <li class="menu-header">Examinations</li>
                  <li class="dropdown"> <a  href="#" class="nav-link has-dropdown"> <i class="fa-solid fa-file-pen"></i> <span> Examinations </span></a>
                    <ul class="dropdown-menu">
                      <li> <a href="Examination" class="nav-link"> Examination </a> </li>
                      <li> <a href="ExamCourseGroup" class="nav-link"> Course Group </a> </li>
                      <li> <a href="ExamCourseFee" class="nav-link"> Course Group Fees </a> </li>
                      <li> <a href="ExamApp" class="nav-link"> Application </a> </li>
                      <li> <a href="AppSetting" class="nav-link"> Application Setting </a> </li>
                      <li> <a href="AppSubject" class="nav-link"> Application Subjects </a> </li>
                    </ul> 
                  </li>

                  <li><a class="nav-link" href="CasteCategory"><i class="fa-solid fa-users-between-lines"></i> <span> Caste Category </span></a></li>

                  <li><a class="nav-link" href="Student"><i class="fa-solid fa-user-tie"></i> <span> Student Details </span></a></li>

                  <li><a class="nav-link" href="FeeGroup"><i class="fa-solid fa-indian-rupee-sign"></i> <span> Fee Groups </span></a></li>
                </ul>
              </aside>
            </div>
    
            <main role="main">
                <div class="main-content">
                   <section class="section">
                    <div class="section-header">
                      <h1>MADRAS CHRISTIAN COLLEGE</h1>
                      <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a> College Code : SVU001 </a></div>
                      </div>
                    </div>
                    
                    @RenderBody()

                    </section>
                </div>
             </main>
            <footer class="main-footer">
              <div class="footer-left"> Copyright &copy; 2022
                <div class="bullet"></div>
                Design By Avia Technologies <a href="#"></a> </div>
              <div class="footer-right"> </div>
            </footer>

           </div>
        </div>
    
        <script src="~/modules/jquery.min.js"></script> 
        <script src="~/modules/popper.js"></script> 
        <script src="~/modules/tooltip.js"></script> 
        <script src="~/modules/bootstrap/js/bootstrap.min.js"></script> 
        <script src="~/modules/nicescroll/jquery.nicescroll.min.js"></script> 
        <script src="~/modules/moment.min.js"></script> 
        <script src="~/js/stisla.js"></script> 

        <!-- JS Libraies --> 
        <script src="~/modules/cleave-js/dist/cleave.min.js"></script> 
        <script src="~/modules/cleave-js/dist/addons/cleave-phone.us.js"></script> 
        <script src="~/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script> 
        <script src="~/modules/bootstrap-daterangepicker/daterangepicker.js"></script> 
        <script src="~/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script> 
        <script src="~/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script> 
        <script src="~/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script> 
        <script src="~/modules/select2/dist/js/select2.full.min.js"></script> 
        <script src="~/modules/jquery-selectric/jquery.selectric.min.js"></script> 

        <!-- Page Specific JS File --> 
        <script src="~/js/page/forms-advanced-forms.js"></script> 

        <!-- Template JS File --> 
        <script src="~/js/scripts.js"></script> 
        <script src="~/js/custom.js"></script>
    

    @RenderSection("Scripts", required: false)
</body>
</html>
